.hero {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.hero .title h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

@media (max-width: 1200px) {
  .hero {
    height: 280px;
  }

  .hero .title h1 {
    font-size: 32px;
  }

  section.info {
    padding: 40px 0;
  }

  section.info .container {
    max-width: 90%;
    flex-direction: column;
  }

  section.info .container .information h2 {
    font-size: 28px;
    text-align: center;
  }

  section.info .container .information > p {
    text-align: center;
  }

  section.info .container .information .items {
    grid-template-columns: 1fr;
  }

  section.info .container .information .items .item {
    align-items: center;
  }

  section.info .container .information .items .item svg {
    width: 40px;
    height: 40px;
  }

  section.info .container .contact  {
    width: 100%;
    padding: 40px 20px;
  }

  section.info .container .contact .wrapper {
    flex-direction: column;
  }

  section.info .container .contact form .send-message-btn {
    width: 100%;
  }

  section.map .container {
    max-width: 90%;
  }

  section.map .container iframe {
    height: 350px;
  }
  
  .logos .container {
    max-width: 90%;
    justify-content: normal;
    overflow: scroll;
    gap: 50px;
  }
}
