.hero {
  position: relative;
  width: 100%;
  height: 322px;
  background-color: #000;
}

.hero .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .title h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

section.details {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 120px;
}

section.details .container {
  max-width: 80%;
  margin: auto;
}

section.details .job-info {
  width: 100%;
  position: relative;
}

section.details .job-info .save-btn {
  position: absolute;
  top: 40px;
  right: 0px;
  cursor: pointer;
  color: #6c757d;
}

section.details .job-info .time {
  user-select: none;
  background-color: rgba(48, 150, 137, 0.1);
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  color: #309689;
}

section.details .job-info .details {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

section.details .job-info .details .position {
  font-size: 40px;
  font-weight: 600;
}

section.details .job-info .details .location {
  font-size: 16px;
  margin-top: 5px;
}

section.details .job-info .details-2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

section.details .job-info .details-2 .more-details {
  display: flex;
  gap: 20px;
}

section.details .job-info .details-2 .more-details .item {
  display: flex;
  gap: 8px;
  align-items: center;
}

section.details .job-info .details-2 .more-details .item svg {
  color: #309689;
}

section.details .job-info .details-2 .more-details .item p {
  font-size: 16px;
  color: #6c757d;
  font-weight: 600;
}

section.details .job-info .details-2 .apply-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #309689;
  border: none;
  border-radius: 8px;
  width: 314px;
  padding: 14px 0;
  cursor: pointer;
  font-family: "Figtree", serif;
  transition: 0.3s ease;
  text-align: center;
}

section.details .job-info .details-2 .apply-btn:hover {
  background-color: #287d73;
}

section.details .content {
  width: 100%;
  display: flex;
  gap: 20px;
}

section.details .content .main-content {
  flex: 1;
}

section.details .content .main-content section {
  margin-top: 60px;
  width: 100%;
}

section.details .content .main-content section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

section.details .content .main-content .description p {
  font-size: 16px;
  line-height: 24px;
}

section.details .content .main-content .key-responsibilities ul,
section.details .content .main-content .professional-skills ul {
  list-style: none;
}

section.details .content .main-content .key-responsibilities ul li,
section.details .content .main-content .professional-skills ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

section.details .content .main-content .key-responsibilities ul li svg,
section.details .content .main-content .professional-skills ul li svg {
  color: #309689;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

section.details .content .main-content .tags .tags-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

section.details .content .main-content .tags .tags-container .tag {
  background-color: rgba(48, 150, 137, 0.1);
  padding: 10px;
  border-radius: 12px;
}

section.details .content .main-content .tags .tags-container .tag p {
  color: #309689;
  font-size: 16px;
}

section.details .content .main-content .share {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

section.details .content .main-content .share p {
  font-size: 20px;
  font-weight: 600;
}

section.details .content .main-content .related-jobs {
  margin-top: 120px;
}

section.details .content .main-content .related-jobs h3 {
  font-size: 50px;
}

section.details .content .main-content .related-jobs p {
  font-size: 16px;
}

section.details .content .main-content .related-jobs .jobs-list {
  width: 100%;
  margin-top: 50px;
}

section.details .content .main-content .related-jobs .jobs-list .job {
  width: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(48, 150, 137, 0.08);
  padding: 40px;
}

section.details .content .main-content .related-jobs .jobs-list .job .save-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  color: #6c757d;
}

section.details .content .main-content .related-jobs .jobs-list .job .time {
  user-select: none;
  background-color: rgba(48, 150, 137, 0.1);
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  color: #309689;
  font-size: 16px;
}

section.details .content .main-content .related-jobs .jobs-list .job .details {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details
  .position {
  font-size: 28px;
  font-weight: 600;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details
  .location {
  font-size: 16px;
  margin-top: 5px;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .more-details {
  display: flex;
  gap: 20px;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .more-details
  .item {
  display: flex;
  gap: 8px;
  align-items: center;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .more-details
  .item
  svg {
  color: #309689;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .more-details
  .item
  p {
  font-size: 16px;
  color: #6c757d;
  font-weight: 600;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .job-details-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #309689;
  border: none;
  border-radius: 8px;
  padding: 14px 20px;
  cursor: pointer;
  font-family: "Figtree", serif;
  transition: 0.3s ease;
}

section.details
  .content
  .main-content
  .related-jobs
  .jobs-list
  .job
  .details-2
  .job-details-btn:hover {
  background-color: #1b5850;
}

section.details .content aside {
  margin-top: 60px;
  max-width: 314px;
}

section.details .content aside .overview {
  width: 100%;
  background-color: #ebf5f4;
  border-radius: 20px;
  padding: 20px;
}

section.details .content aside .overview > p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

section.details .content aside .overview .item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

section.details .content aside .overview .item svg {
  color: #309689;
}

section.details .content aside .overview .item .item-content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

section.details .content aside .overview .item .item-content .value {
  font-size: 16px;
  color: #6c757d;
}

section.details .content aside .overview iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  margin-top: 10px;
  border: 1px solid gray;
}

section.details .content aside .message {
  width: 100%;
  background-color: #ebf5f4;
  border-radius: 20px;
  padding: 30px 20px;
  margin-top: 40px;
}

section.details .content aside .message > p {
  font-size: 20px;
  font-weight: 600;
}

section.details .content aside .message form {
  margin-top: 20px;
}

section.details .content aside .message form label {
  display: none;
}

section.details .content aside .message form .input-with-icon {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 20px;
}

section.details .content aside .message form .input-with-icon svg {
  position: absolute;
  color: #6c757d;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

section.details .content aside .message form input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Figtree", serif;
  background-color: white;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 40px;
  outline: none;
}

section.details .content aside .message form .message-form-group {
  height: 160px;
}

section.details .content aside .message form .message-form-group .input-with-icon {
  height: 100%;
}

section.details .content aside .message form .message-form-group .input-with-icon svg {
  top: 12%;
  left: 10px;
  transform: translateY(-50%);
}

section.details .content aside .message form textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Figtree", serif;
  background-color: white;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 40px;
  outline: none;
  resize: none;
}

section.details .content aside .message form button {
  width: 145px;
  height: 40px;
  margin-top: 20px;
  background-color: #309689;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

@media (max-width: 1200px) {
  .hero {
    height: 280px;
  }

  .hero .title h1 {
    font-size: 32px;
  }

  section.details {
    padding: 40px 0;
  }

  section.details .container {
    max-width: 90%;
  }

  section.details .job-info {
    padding: 40px;
    box-shadow: 0 3px 8px rgba(48, 150, 137, 0.08);
    border-radius: 20px;
  }

  section.details .job-info .save-btn {
    top: 40px;
    right: 40px;
  }

  section.details .job-info .details {
    flex-direction: column;
    gap: 10px;
  }

  section.details .job-info .details .location {
    margin-top: 10px;
  }

  section.details .job-info .details-2 {
    margin-top: 40px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  section.details .job-info .details-2 .more-details {
    flex-direction: column;
  }

  section.details .job-info .details-2 a {
    width: 100%;
  }

  section.details .job-info .details-2 .apply-btn {
    width: 100%;
  }

  section.details .content {
    flex-direction: column-reverse;
  }

  section.details .content aside {
    margin-top: 120px;
    width: 100%;
    max-width: none;
  }
  
  section.details .content .main-content .related-jobs h3 {
    font-size: 28px;
  }
  
  section.details .content .main-content .related-jobs p {
    font-size: 16px;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details {
    flex-direction: column;
    gap: 10px;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details .location {
    margin-top: 10px;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details-2 {
    margin-top: 40px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details-2 .more-details {
    flex-direction: column;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details-2 a {
    width: 100%;
  }

  section.details .content .main-content .related-jobs .jobs-list .job .details-2 .job-details-btn {
    width: 100%;
  }
  
}
