.hero {
  position: relative;
  width: 100%;
  height: 322px;
  background-color: #000;
}

.hero .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .title h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.hero .title .mobile {
  display: none;
}

section.jobs {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 120px;
}

section.jobs .container {
  max-width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
}

section.jobs .container aside {
  max-width: 314px;
}

section.jobs .container aside .filter-btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: #309689;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: "Figtree", serif;
  justify-content: center;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
  display: none;
}

section.jobs .container aside .filter-btn:hover {
  background-color: #267a6e;
}

section.jobs .container .search-filters {
  background-color: #ebf5f4;
  padding: 2rem 1.5rem;
  border-radius: 20px;
}

section.jobs .container .search-filters .search-group {
  margin-bottom: 20px;
}

section.jobs .container .search-filters .filter-group {
  margin-bottom: 20px;
}

section.jobs .container .search-filters .group-label {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

section.jobs .container .search-input-wrapper {
  position: relative;
}

section.jobs .container .search-input-wrapper input[type="search"] {
  width: 100%;
  padding: 12px 0;
  padding-left: 2.5rem;
  font-family: "Figtree", serif;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  outline: none;
}

section.jobs .container .search-input-wrapper .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  color: #6c757d;
}

section.jobs .container .search-filters .select-wrapper {
  position: relative;
}

section.jobs .container .search-filters select {
  width: 100%;
  padding: 12px 0;
  padding-left: 2.5rem;
  border: none;
  border-radius: 12px;
  background-color: white;
  font-size: 16px;
  color: #6c757d;
  outline: none;
  font-family: "Figtree", serif;
}

section.jobs .container .search-filters .select-wrapper svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
}

section.jobs .container .search-filters fieldset {
  border: none;
}

section.jobs .container .search-filters input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #6c757d;
  cursor: pointer;
  border-radius: 4px;
}

section.jobs .container .search-filters input[type="checkbox"]:checked {
  border: none;
  background-color: #309689;
}

section.jobs .container .search-filters .checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.jobs .container .search-filters .checkbox-item {
  display: flex;
  align-items: center;
}

section.jobs .container .search-filters .checkbox-item label {
  padding-left: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.jobs .container .search-filters .count {
  color: #666;
  font-size: 16px;
  background-color: white;
  padding: 2px 10px;
  border-radius: 12px;
}

section.jobs .container .search-filters .show-more {
  margin-top: 20px;
  background-color: #309689;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Figtree", serif;
  transition: background-color 0.3s ease;
}

section.jobs .container .search-filters .show-more:hover {
  background-color: #267a6e;
}

section.jobs .container .search-filters .filter-group .salary-slider {
  position: relative;
  width: 100%;
  height: 8px;
}

section.jobs .container .search-filters .filter-group .salary-slider .track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

section.jobs .container .search-filters .filter-group .salary-slider .range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #309689;
  border-radius: 4px;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-slider
  input[type="range"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
  pointer-events: none;
  z-index: 3;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-slider
  input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #309689;
  cursor: pointer;
  pointer-events: auto;
  border: none;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-slider
  input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #309689;
  cursor: pointer;
  pointer-events: auto;
  border: none;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-slider
  input[type="range"]:focus {
  outline: none;
}

section.jobs .container .search-filters .filter-group .salary-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-wrapper
  .salary-value {
  font-size: 16px;
  font-weight: 600;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-wrapper
  .apply-btn {
  background-color: #309689;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: "Figtree", serif;
  transition: background-color 0.3s ease;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .salary-wrapper
  .apply-btn:hover {
  background-color: #267a6e;
}

section.jobs .container .search-filters .filter-group h3 {
  font-size: 20px;
  font-weight: 600;
}

section.jobs .container .search-filters .filter-group .tags-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

section.jobs .container .search-filters .filter-group .tags-container .tag {
  background-color: rgba(49, 150, 137, 0.1);
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #309689;
  transition: background-color 0.3s ease, color 0.3s ease;
}

section.jobs
  .container
  .search-filters
  .filter-group
  .tags-container
  .tag:hover {
  background-color: #309689;
  color: white;
}

section.jobs .container .ad {
  width: 100%;
  height: 460px;
  margin-top: 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, brightness 0.3s ease;
  overflow: hidden;
  position: relative;
}

section.jobs .container .ad:hover {
  transform: scale(1.05);
  transform: brightness(0.9);
}

section.jobs .container .ad .img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
}

section.jobs .container .ad .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px) brightness(0.6);
}

section.jobs .container .ad .content {
  position: absolute;
  z-index: 1;
  top: 26px;
  left: 26px;
}

section.jobs .container .ad .content h3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

section.jobs .container .ad .content p {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-top: 10px;
}

section.jobs .container .jobs-list {
  flex: 1;
}

section.jobs .container .jobs-list .results-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.jobs .container .jobs-list .results-stats p {
  font-size: 20px;
  font-weight: 500;
  color: #6c757d;
}

section.jobs .container .jobs-list .results-stats select {
  height: 40px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  background: none;
  border: 1.5px solid #6c757d;
  font-family: "Figtree", serif;
  font-size: 20px;
  color: #6c757d;
}

section.jobs .jobs-list .results {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section.jobs .jobs-list .job {
  width: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(48, 150, 137, 0.08);
  padding: 40px;
}

section.jobs .jobs-list .job .save-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  color: #6c757d;
}

section.jobs .jobs-list .job .time {
  user-select: none;
  background-color: rgba(48, 150, 137, 0.1);
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  color: #309689;
  font-size: 16px;
}

section.jobs .jobs-list .job .details {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

section.jobs .jobs-list .job .details .position {
  font-size: 28px;
  font-weight: 600;
}

section.jobs .jobs-list .job .details .location {
  font-size: 16px;
  margin-top: 5px;
}

section.jobs .jobs-list .job .details-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

section.jobs .jobs-list .job .details-2 .more-details {
  display: flex;
  gap: 20px;
}

section.jobs .jobs-list .job .details-2 .more-details .item {
  display: flex;
  gap: 8px;
  align-items: center;
}

section.jobs .jobs-list .job .details-2 .more-details .item svg {
  color: #309689;
}

section.jobs .jobs-list .job .details-2 .more-details .item p {
  font-size: 16px;
  color: #6c757d;
  font-weight: 600;
}

section.jobs .jobs-list .job .details-2 .job-details-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #309689;
  border: none;
  border-radius: 8px;
  padding: 14px 20px;
  cursor: pointer;
  font-family: "Figtree", serif;
  transition: 0.3s ease;
}

section.jobs .jobs-list .job .details-2 .job-details-btn:hover {
  background-color: #1b5850;
}

section.jobs .container .jobs-list .pagination {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.jobs .container .jobs-list .pagination .pages {
  display: flex;
  align-items: center;
  gap: 25px;
}

section.jobs .container .jobs-list .pagination .pages .page-btn {
  color: #6c757d;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: none;
  border: 2px solid #6c757d;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

section.jobs .container .jobs-list .pagination .pages .page-btn:hover {
  background-color: #309689;
  color: white;
  border: 2px solid transparent;
}

section.jobs .container .jobs-list .pagination .pages .page-btn:first-child {
  background-color: #309689;
  color: white;
  border: none;
}

section.jobs .container .jobs-list .pagination .next-btn {
  background: none;
  color: #6c757d;
  border: 2px solid #6c757d;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

section.jobs .container .jobs-list .pagination .next-btn:hover {
  background-color: #309689;
  color: white;
  border: 2px solid transparent;
}

/* Responsive design */
@media (max-width: 1200px) {
  .hero {
    height: 280px;
  }

  .hero .title h1 {
    font-size: 32px;
  }

  .hero .title .mobile {
    display: block;
  }

  .hero .title .desktop {
    display: none;
  }
  
  section.jobs {
    padding: 40px 0;
  }

  section.jobs .container {
    max-width: 90%;
    flex-direction: column;
    gap: 50px;
  }

  section.jobs .container aside {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.jobs .container aside .filter-btn {
    display: block;
  }

  section.jobs .container aside .ad {
    margin-top: 40px;
    width: 314px;
    height: 460px;
  }

  section.jobs .container .jobs-list .results-stats p{
    font-size: 12px;
  }

  section.jobs .container .jobs-list .results-stats select {
    width: 148px;
    font-size: 16px;
  }

  section.jobs .jobs-list .job .details {
    flex-direction: column;
    gap: 10px;
  }

  section.jobs .jobs-list .job .details .location {
    margin-top: 10px;
  }

  section.jobs .jobs-list .job .details-2 {
    margin-top: 40px;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  section.jobs .jobs-list .job .details-2 .more-details {
    flex-direction: column;
  }

  section.jobs .jobs-list .job .details-2 a {
    width: 100%;
  }

  section.jobs .jobs-list .job .details-2 .job-details-btn {
    width: 100%;
  }

  section.jobs .container .jobs-list .pagination .pages .page-btn {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    font-size: 16px;
  }

  section.jobs .container .jobs-list .pagination .prev-btn {
    display: none;
  }

  section.jobs .container .jobs-list .pagination .next-btn {
    font-size: 16px;
    padding: 0 10px;
    height: 28px;
    border-radius: 8px;
  }
}
